util/make_dir/COMP.err
util/make_dir/COMP.log
util/make_dir/COMP-dynamic.err
util/make_dir/COMP-dynamic.log
util/make_dir/COMP-pyoasis.err
util/make_dir/COMP-pyoasis.log
*.o
*.mod
*~
examples/test_interpolation/model1
examples/test_interpolation/model2
examples/test_interpolation/test_interpolation_*

