util/make_dir/COMP.err
util/make_dir/COMP.log
util/make_dir/COMP-shared.err
util/make_dir/COMP-shared.log
*.o
*.mod
*~
examples/test_interpolation/model1
examples/test_interpolation/model2
examples/test_interpolation/test_interpolation_*

