# Building OASIS3-mct in the context of the ACCESS-ESM1.6 model
# Note, our current ACCESS-ESM1.6 deployment uses the "access-esm1.5" branch not the "master"
# branch used here
spack:
  specs:
  - 'access-esm1p6@latest cice=5'
  packages:
    mom5:
      require:
      - '@{{ mom5_version_esm1p6 }}'
    cice5:
      require:
      - '@{{ cice5_version_esm1p6 }}'
    um7:
      require:
      - '@{{ um_version }}'
    gcom4:
      require:
      - '@{{ gcom4_version }}'
    oasis3-mct:
      require:
      - '@git.{{ ref }}=access-esm1.5'
    access-fms:
      require:
      - '@{{ access_fms_version }}'
    access-generic-tracers:
      require:
      - '@{{ access_generic_tracers_version }}'
    access-mocsy:
      require:
      - '@{{ access_mocsy_version }}'
    netcdf-c:
      require:
      - '@{{ netcdf_c_version}}'
    netcdf-fortran:
      require:
      - '@{{ netcdf_fortran_version }}'
    openmpi:
      require:
      - '@{{ openmpi_version }}'
    intel-oneapi-compilers-classic:
      require:
      - '@{{ intel_compiler_version }}'
    all:
      require:
      - '%access_intel'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false