# Building OASIS3-mct stand-alone using access-esm1.5 spack version
spack:
  specs:
  - 'oasis3-mct@git.{{ ref }}=access-esm1.5'
  - 'oasis3-mct@git.{{ ref }}=access-om2'
  packages:
    openmpi:
      require:
        - '@4.1.5'
    netcdf-c:
      require:
        - '@4.9.2'
    netcdf-fortran:
      require:
        - '@4.6.1'
    hdf5:
      require:
        - '@1.14.3'
    gcc-runtime:
      require:
      - '%gcc target={{ target }}'
    all:
      require:
      - '%{{ oneapi_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false