__pycache__
.idea
docs/_build
tests/*/work/
examples/*/work
examples/*/sender-apple
examples/*/receiver-serial
examples/*/receiver
examples/*/nonactive
examples/*/xios
examples/*/*/work
examples/*/fortran/receiver
examples/*/fortran/receiver-orange
examples/*/fortran/receiver_one
examples/*/fortran/receiver_two
examples/*/fortran/sender-serial
examples/*/fortran/sender-apple
examples/*/fortran/sender-box
examples/*/fortran/sender-orange
examples/*/fortran/sender-points
examples/*/fortran/writer
examples/*/C/receiver
examples/*/C/receiver-orange
examples/*/C/receiver_one
examples/*/C/receiver_two
examples/*/C/sender-serial
examples/*/C/sender-apple
examples/*/C/sender-box
examples/*/C/sender-orange
examples/*/C/sender-points
examples/*/C/writer
*.dSYM
