############################################
## USER SPECIFICATIONS 
###########################################
# OASIS VARIABLES DEFINITION   
# + NAMES OF THE DIFFERENT TOYS
###########################################
# To recompile oasis or not
export OASIS_COMPILE=TRUE
# List of the toys to run (complete name including directory)
export USER_TOY=(${OASIS_COUPLE}"/examples/tutorial_communication" ${OASIS_COUPLE}"/examples/spoc/spoc_communication")
# Number of tests for each toy		  
export USER_TEST=("2" "1")
# Localization of parameter files for each toy
export USER_PARAMLOC=(${OASIS_COUPLE}"/examples/tutorial_communication" ${OASIS_COUPLE}"/examples/spoc/spoc_communication")
# Root directory for all tests
export USER_RUNDIR=${OASIS_COUPLE}/../OA3_MCT_RES_${OASIS_ENV}
